
.background{
    /* background-image: url('./asset/abc.jpg'); */
    /* background-image: url('../src/component/asset/animated.jpg'); */
    height:'100vh';
}


body{
   font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Lato', sans-serif; */
}

.app{
    height: 100vh;
}

.text{
    text-align: center;
    margin-top: 89vh;
}

.setting{
       width: 45%;
       padding: 10px;
       display: flex;
       flex-direction: column;
       align-items: center;      
}


